@import '../abstracts/abstracts';

// -------------------------------------- //
// ------- General block rules start ---- //
// -------------------------------------- //

.starter-custom-block {
    @include pos-rel;
}

.container {
    > .row {
        > .col-12 {
            > .wp-block-columns {
                --bs-gutter-x: 1.5rem;
                --bs-gutter-y: 0;
                display: flex;
                flex-wrap: wrap;
                margin-top: calc(-1 * var(--bs-gutter-y));
                margin-right: calc(-0.5 * var(--bs-gutter-x));
                margin-left: calc(-0.5 * var(--bs-gutter-x));
            }
        }
    }
}

// -------------------------------------- //
// ------- General block rules end ------ //
// -------------------------------------- //
