// default
$color__primary: #242424;
$color__white: #fff;
$color__black: #000000;

// gray
$color__gray: #F0F4FF;
$color__gray2: #4A4A4A;
$color__gray3: #555d66;

// blue
$color__blue: #2271b1;

// green
$color__green: #9F8C28;
$color__green2: #1E914E;
$color__green3: #82BF37;
$color__green4: #C79B21;
$color__green5: #669933;
$color__green6: #229A40;
$color__green7: #229A401A;


// leave these below as they are

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;
$color__red-error: #dc3232;
$color__green-success: #46b450;
