$font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

// H1;
$size__h1: 56px;
$line-height__h1: 72px;

// H2;
$size__h2: 48px;
$line-height__h2: 62px;

// H3;
$size__h3: 40px;
$line-height__h3: 52px;

// H4;
$size__h4: 32px;
$line-height__h4: 42px;

// H5;
$size__h5: 30px;
$line-height__h5: 39px;

// H6;
$size__h6: 24px;
$line-height__h6: 31px;

// Paragraph
$size__p: 18px;
$line-height__p: 26px;

// $size__404: 70px;
// $line-height__404: 82px;

// icon font-size
$size__icon_default: 37px;
